
.register-container {
    max-width: 500px;
    margin: 0 auto;
    text-align: center;
    padding: 40px 20px;
    font-family: Arial, sans-serif;
    padding-top: 100px;
}

.register-container h1 {
    font-size: 2em;
    color: #333;
    margin-bottom: 20px;
}

.register-form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.input-group {
    display: flex;
    flex-direction: column;
    text-align: left;
}

.input-group label {
    font-weight: bold;
    color: #333;
    margin-bottom: 5px;
}

.input-group input {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 1em;
}

.register-button {
    grid-column: 1 / -1;
    background-color: #0056b3;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 1em;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s;
    width: 100%;
}

.register-button:hover {
    background-color: #004494;
}

.register-footer {
    grid-column: 1 / -1;
    margin-top: 20px;
}

.register-footer p {
    margin: 5px 0;
}

.register-footer a {
    color: #0056b3;
    font-weight: bold;
    text-decoration: none;
}

.register-footer a:hover {
    color: #333;
}

.wholesale-client {
    color: #333;
    font-weight: bold;
}
